In [1]:
import pandas as pd
import numpy as np

In [2]:
network = pd.read_csv("../data/one_graph/network_file_0self.csv", header = 0)
print(network.shape)
network.drop_duplicates(subset = ["drug_name", "shared_by"], inplace = True)
print(network.shape)

(2788, 5)
(2625, 5)

In [3]:
network.to_csv("../data/one_graph/network_file_0self_single_link.csv", header = True, index = False)

In [4]:
network[0:5]

,drug_name,targets,shared_by,shared_by_cid,shared_by_smiles
0,D00STL,T38284,D0D5EW,5311104,CC1=C(C=CC(=C1)NC2=NC=C3C=C(C(=O)N(C3=N2)C)C4=...
1,D00STL,T38284,D03NPX,447077,CN1C2=NC(=NC=C2C=C(C1=O)C3=C(C=CC=C3Cl)Cl)NC4=...
2,D00STL,T38284,D0AW4W,11537051,COC1=CC=C(C=C1)C2=CC=CC=C2C3=CC(=CC(=C3)OC)OC
3,D00STL,T38284,D0PI0R,0,COC1=CC(=CC(=C1)C2=CC=CC=C2C3=CC=C(C=C3)O)OC
4,D00STL,T38284,D0H4YH,11594901,COC1=CC=C(C=C1)C2=CC(=CC=C2)C3=CC(=CC(=C3)OC)OC

In [10]:
index_ = [True if sum((network["shared_by"] == i).astype(int)) > 4 else False for i in network["shared_by"]]
gt2 = network[index_]
print(gt2.shape)

(288, 5)

In [11]:
gt2.to_csv("../data/one_graph/network_file_linkgt2.csv", header = True)